
RewriteEngine on
RewriteCond %{HTTP_HOST} ^privacy\-policy\.keralatourpackages\.online$ [OR]
RewriteCond %{HTTP_HOST} ^www\.privacy\-policy\.keralatourpackages\.online$
RewriteCond %{REQUEST_URI} !^/[0-9]+\..+\.cpaneldcv$
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule ^/?$ "http\:\/\/keralatourpackages\.online\/privacy\-policy" [R=301,L]

