
RewriteEngine on
RewriteCond %{HTTP_HOST} ^3nights\-4days\.kerala\.keralatourpackages\.online$ [OR]
RewriteCond %{HTTP_HOST} ^www\.3nights\-4days\.kerala\.keralatourpackages\.online$
RewriteCond %{REQUEST_URI} !^/[0-9]+\..+\.cpaneldcv$
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule ^/?$ "http\:\/\/keralatourpackages\.online\/kerala\/3nights\-4days" [R=301,L]

